body{
    background-color: #f0f8ff ;
}
div{
    width: 75%;
    min-width: 500px;
    border:1px solid #333333;
    border-radius: 5px;
    box-shadow:3px 3px #000;
    margin-top: 1em;
    padding: 0.5em;
    background-color: #ffffff;
}

div.second{
    border-radius: 5px;
    box-shadow:3px 3px #ff0000 ;
    border: 1px dashed #ff0000;
    color: #ff0000;
    }

span{
   font-weight: bold;
   padding-right: 0.5em;
   padding-left: 0.5em;
      
}


    