div a {
    color: teal;
} 
 div > p:last-of-type a{
    background-color: yellow;
    color:red;
}
 ul > li >ul {
    color: blue;
}

  ul > li > a {
     color: tomato;
     }
     
     ul > ul >a {
         color:tomato;
     }
ul > li > ul> a  {
    color:tomato;
}
 li:first-child {   /*did not figure out why did not work */
    font-weight: bold;
}


ul > li > ul> a  {
    color:tomato;
}









