/* this is for you to complete */


div a {
    color: teal;
} 
div a :last-of-type {
background-color: yellow;
color: red;
}

ul :first-child {
    font-size:bold;
}
 ul > a {
     color: tomato;
     }

