p{
 font-size: larger;
 color: black;
 background-position:5% 15%;
 background-image: url"css-exersices/css-exersices/properties/images/confidential.jpg";
 
 background-repeat: no-repeat;
 }

 div > p{
     background-color: grey;
 }

