.container {
    position: relative;
    text-align: left;

  }

  .centered {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
    word-spacing: 3px;
  }


p{
 font-size: larger;
 color: black;
 background-position:5% 15%;
 background-image: url"css-exersices/css-exersices/properties/images/confidential.jpg";
 
 background-repeat: no-repeat;
 }

 #gray{
     background-color: grey;
 }

 /*transform: rotate(-20deg);*/

